*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2d2c47;
    color:azure;
}

header, main
{
    max-width: 60em;
    margin: auto;
}

header
{
    text-align: center;
}

input[type="text"]
{
    width: 100%;
    display: block;
    padding: 0.3em;
    box-sizing: border-box;
}

input[type="submit"]{
    display: block;
    float: right;
    padding: 0.5em;
    margin: 1em;
}

input.errorInput{
    border:1px solid crimson;
}

.error
{
    margin-top: 2em;
    color: crimson;
}

.nav-menu ul
{
    display: flex;
    justify-content: space-between;
    list-style: square;
}

.nav-menu
{
    margin: 2em;
}

.nav-menu ul a
{
    color: rgb(239, 223, 252);
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
}

.nav-menu ul a:hover
{
    color:#d7acf0;
}

form
{
    margin-top: 0.9em;
}